main {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

section{
  margin: 0 auto;
  padding: 10px;
}

.spot-card {
  border: 1px solid #888;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
}

.spot-card h2 {
  margin-top: 0;
}